  {%if user.is_authenticated%}

  <title>Change password</title>
 {%include 'header.html'%}
 <style>
      {%include 'css/header.css'%}
      {%include 'css/register.css'%}
 </style>

{% block content %}      
{% load crispy_forms_tags %}

<!--Login-->
<div class="container py-5">
  <h1>Change password</h1>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Change password</button>
  </form>
</div>

{% endblock %}

{%else%}

<title>Access denied</title>
{%include 'header.html'%}
 <style>
      {%include 'css/header.css'%}
      {%include 'css/register.css'%}
 </style>

<p class="text-center" style="font-size: 30px;">Please log in to view this page.</p>

{%endif%}